body{
    background-color: #C70039;
}
h3{
    font-size: 35px;
    text-align: center;
    color: greenyellow;
}
select{
    border:none;
    outline: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 820px;
}
p{
    font-size: 25px;
    color: white;
    text-align: center;
}